* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}


#splash{
  margin: 0;
  width: 375;
  height: 667;
}

#mainPage{
	width: 375;
	height: 667;
}


#contact{
  width: 375;
  height: 667;

}

#tutorial{
  margin: 0;
  width: 375;
  height: 667;
}

#mainPage2{
	width: 375;
	height: 667;
}

.v0_3 {
  width: 360px;
  height: 640px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_0 {
  width: 335px;
  height: 115px;
  background: linear-gradient(90deg,rgba(31,64,55,1), rgba(153,242,200,1));
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: 10px;
  opacity: 75%;
}
.v2_01 {
  width: 335px;
  height: 115px;
  background: linear-gradient(90deg,rgba(31,64,55,1), rgba(153,242,200,1));
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 12px;
  border-radius: 10px;
  opacity: 75%;
}
.v2_7 {
  width: 172px;
  height: 172px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: -70px;
  left: 231px;
  overflow: hidden;
}
.v2_8 {
  width: 172px;
  height: 172px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 0.23000000417232513;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v2_9 {
  width: 135px;
  height: 135px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 0.2800000011920929;
  position: absolute;
  top: 18px;
  left: 18px;
  border-radius: 50%;
}
.v2_10 {
  width: 92px;
  height: 92px;
  background: rgba(251,229,136,1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 39px;
  border-radius: 50%;
}
.v2_11 {
  width: 300px;
  height: 110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 5px;
  overflow: hidden;
}
.v2_12 {
  width: 101px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_13 {
  width: 300px;
  height: 110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 2px;
  overflow: hidden;
}
.v2_14 {
  width: 74px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 15px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;

}


.v2_15 {
  width: 74px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 61px;
  left: 210px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2_21 {
  width: 137px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 159px;
  overflow: hidden;
}
.v2_22 {
  width: 85px;
  color: rgba(255,255,255,1);
  position: relative;
  top: -10px;
  left: 15px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v4_2 {
  width: 335px;
  height: 30px;
  background: linear-gradient(90deg,rgba(31,64,55,1), rgba(153,242,200,1));
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  opacity:50%;
}


.v5_0 {
  width: 335px;
  height: 30px;
  background: linear-gradient(90deg,rgba(31,64,55,1), rgba(31,64,55,1));
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  opacity:50%;
}

.v5_1 {
  width: 335px;
  height: 30px;
  background: linear-gradient(90deg,rgba(31,64,55,1), rgba(31,64,55,1));
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  opacity:50%;
}
.v5_2 {
  width: 335px;
  height: 30px;
  background: linear-gradient(90deg,rgba(31,64,55,1), rgba(31,64,55,1));
  opacity: 1;
  position: absolute;
  top: 270px;
  left: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  opacity:50%;
}

.v14_0 {
  width: 335px;
  height: 222px;
  background: linear-gradient(90deg,rgba(31,64,55,1), rgba(153,242,200,1));
  
  position: absolute;
  top: 169px;
  left: 12px;
  border-radius: 10px;
  overflow: hidden;
  opacity: 75%;
}

.v54_0 {
  width: 285px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 36px;
  left: 25px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v52_14 {
  width: 335px;
  height: 317px;
  background: linear-gradient(90deg,rgba(31,64,55,1), rgba(153,242,200,1));
  
  position: absolute;
  top: 405px;
  left: 12px;
  border-radius: 10px;
  overflow: hidden;
  opacity: 85%;
}
.v53_291 {
  width: 245px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 24px;
  left: 44px;
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 13px;
  opacity: 50%;
  text-align: center;
}
.v53_292 {
  width: 318px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 90px;
  left: 9px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.v23_2 {
  width: 335px;
  height: 30px;
  background: linear-gradient(90deg,rgba(31,64,55,1), rgba(31,64,55,1));
  opacity: 1;
  position: absolute;
  top: 310px;
  left: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  opacity:50%;
}
.v23_3 {
  width: 335px;
  height: 30px;
  background: linear-gradient(90deg,rgba(31,64,55,1), rgba(31,64,55,1));
  opacity: 1;
  position: absolute;
  top: 350px;
  left: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  opacity:50%;
}
.v23_4 {
  width: 335px;
  height: 30px;
  background: linear-gradient(90deg,rgba(31,64,55,1), rgba(31,64,55,1));
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  opacity:50%;
}
.v23_5 {
  width: 335px;
  height: 30px;
  background: linear-gradient(90deg,rgba(31,64,55,1), rgba(31,64,55,1));
  opacity: 1;
  position: absolute;
  top: 430px;
  left: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  opacity:50%;
}
.v23_6 {
  width: 335px;
  height: 30px;
  background: linear-gradient(90deg,rgba(31,64,55,1), rgba(31,64,55,1));
  opacity: 1;
  position: absolute;
  top: 470px;
  left: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  opacity:50%;
}
.v23_7 {
  width: 335px;
  height: 30px;
  background: linear-gradient(90deg,rgba(31,64,55,1), rgba(31,64,55,1)));
  opacity: 1;
  position: absolute;
  top: 510px;
  left: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  opacity:50%;
}
.v24_2 {
  width: 47px;
  height: 41px;
  background: rgba(153,242,200,1);
  opacity: 1;
  position: absolute;
  top: 594px;
  left: 157px;
  border-radius: 50%;
}
.v24_3 {
  width: 11px;
  height: 13px;
  background: rgba(255,253,253,1);
  opacity: 1;
  position: absolute;
  top: 608px;
  left: 175px;
  border-radius: 50%;
}

.v28_0 {
  width: 159px;
  height: 64px;
  background: linear-gradient(rgba(31,64,55,1), rgba(31,64,55,1));
  opacity: 1;
  position: absolute;
  top: 557px;
  left: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  opacity: 65%;
  }

  .atras{

  position: absolute;
  width: 24px;
  height: 24px;
  left: 1px;
  top: -1px;
  }
  .v28_2 {
  width: 115px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 22px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
  opacity: 1;
  
}
.v28_1 {
  width: 159px;
  height: 64px;
  background: linear-gradient(rgba(31,64,55,1), rgba(153,242,200,1));
  opacity: 1;
  position: absolute;
  top: 557px;
  left: 188px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  opacity: 65%;
}
.v28_3 {
  width: 115px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 22px;
 font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
  opacity: 1;
  
}

.v31_0 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v31_1 {
  width: 24px;
  height: 24px;
  background: url("../images/v31_1.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v31_2 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
}

.v31_3 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 13px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v32_0 {
  width: 17px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 289px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v32_1 {
  width: 29px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 306px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v32_2 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 13px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v32_3 {
  width: 29px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 306px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v32_4 {
  width: 17px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 289px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.v32_5 {
  width: 17px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 289px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v32_13 {
  width: 29px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 306px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v32_21 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 13px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.v32_6 {
  width: 17px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 289px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v32_14 {
  width: 29px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 306px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v32_22 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 13px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.v32_7 {
  width: 17px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 289px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v32_15 {
  width: 29px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 306px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v32_23 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 13px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.v32_8 {
  width: 17px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 289px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v32_16 {
  width: 29px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 306px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v32_24 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 13px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.v32_9 {
  width: 17px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 289px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v32_17 {
  width: 29px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 306px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v32_25 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 13px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.v32_10 {
  width: 17px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 289px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v32_18 {
  width: 29px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 306px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v32_26 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 13px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.v32_11 {
  width: 17px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 289px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v32_19 {
  width: 29px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 306px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v32_27 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 13px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.v32_12 {
  width: 17px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 289px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
 
  text-align: left;
}
.v32_20 {
  width: 29px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 306px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 11px;
  
  text-align: left;
}
.v32_28 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 13px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  
  text-align: left;
}


.location{
  position: absolute;
  
  top: 0;
  
}

.cloud{
  position: absolute;
left: 80.55%;

top: 55.52%;


  
}

.loading-wrapper, html .loading-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) transformY(-50%);
}
.loader, .loader {
  display: block;
  height: 30px;
  width: 7px;
  background: #2d8700;
  float: left;
  margin-right: 4px;
  transform-origin: 50% 50%;
  -webkit-animation: scale 1700ms ease-in-out;
          animation: scale 1700ms ease-in-out;
  animatiom-delay: 1000ms;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
}
.one,.one {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.two, .two {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
 .three, .three {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.four, .four {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.five,  .five {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

@-webkit-keyframes scale {
  0% {
    transform: scale(0.5);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
    box-shadow: 0 11px 30px rgba(0, 0, 0, 0.3), 0 7px 4px rgba(0, 0, 0, 0.22);
  }
  75% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale {
  0% {
    transform: scale(0.5);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
    box-shadow: 0 11px 30px rgba(0, 0, 0, 0.3), 0 7px 4px rgba(0, 0, 0, 0.22);
  }
  75% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.6);
  }
}

.ocultar{
	display: none;

}

.bookmark1{
  position: absolute;
  width: 31px;
  height: 37px;
  left: 124px;
  top: 286px;
}
.bookmark2{
position: absolute;
width: 31px;
height: 37px;
left: 287px;
top: 286px;

}

.fotogomez{
  position: absolute;
width: 123px;
height: 106px;
left: 23px;
top: 77px;
}

.fotomanjarrez{

position: absolute;
width: 101px;
height: 106px;
left: 210px;
top: 77px;
transform: rotate(-72deg);

}

.textomanjarrez{
  position: absolute;
width: 112px;
height: 104px;
left: 191px;
top: 218px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
text-align: center;

color: #FFFFFF;
}

.textogomez{
position: absolute;
width: 112px;
height: 104px;
left: 28px;
top: 218px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
text-align: center;

color: #FFFFFF;
}

.nombregomez{
position: absolute;
width: 139px;
height: 21px;
left: 29px;
top: 194px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;

color: #FFFFFF;
}

.nombremanjarez{
  position: absolute;
width: 172px;
height: 21px;
left: 168px;
top: 194px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;

color: #FFFFFF;
}

.developers{

position: absolute;
width: 269px;
height: 39px;
left: 85px;
top: 15px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;
}

.mail{

position: absolute;
width: 297px;
height: 53px;
left: 58px;
top: 466px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #00A976;
}

.contactus{
/* Contactanos en: */


position: absolute;
width: 279px;
height: 46px;
left: 68px;
top: 440px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}


.naturaleza{

position: absolute;
width: 50px;
height: 50px;
left: 290px;
top: 463px;
}

.v40_2 {
  width: 360px;
  height: 640px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.nature{
  position: absolute;
width: 50px;
height: 50px;
left: 20px;
top: 461px;

}

.v40_3 {
  width: 335px;
  height: 330px;
  background: linear-gradient(90deg,rgba(31,64,55,1), rgba(153,242,200,1));
  opacity: 85%;
  position: absolute;
  top: 29px;
  left: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.framemail{
  position: absolute;

  width: 335px;
  height: 330px;
  background: linear-gradient(rgba(31,64,55,1), rgba(153,242,200,1));

  position: absolute;
  left: 12px;
top: 371px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;

opacity:30%;
}


.nubeverde{

position: absolute;
left: 4.4%;
right: 68.55%;
top: 8.84%;
bottom: 87.92%;
}

.nubeamarilla{
  position: absolute;
left: 4.4%;
right: 68.55%;
top: 23.27%;
bottom: 73.49%;
}

.nubenaranja{

position: absolute;
left: 3.77%;
right: 69.18%;
top: 46.98%;
bottom: 49.78%;
}

.nuberoja{
/* Vector */


position: absolute;
left: 1.89%;
right: 71.07%;
top: 59.41%;
bottom: 37.35%;
}

.nubemorada{
position: absolute;
left: 1.89%;
right: 71.07%;
top: 72.76%;
bottom: 24%;

}

.nubegranate{
  position: absolute;
left: 1.26%;
right: 71.7%;
top: 88.24%;
bottom: 8.52%;

}

.v46_2 {
  width: 360px;
  height: 862px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_0 {
  width: 142px;
  height: 132px;
  background: linear-gradient(90deg,rgba(31,64,55,1), rgba(153,242,200,1));
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 209px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  opacity: 71%;
}
.v48_2 {
  width: 177px;
  height: 836px;
  background: linear-gradient(90deg,rgba(31,64,55,1), rgba(153,242,200,1));
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 11px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  opacity:71%;
}
.v48_6 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 32px;
  left: 14px;
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_5 {
  width: 147px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 65px;
  left: 21px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v48_9 {
  width: 159px;
  height: 686px;
  background: linear-gradient(90deg,rgba(31,64,55,1), rgba(153,242,200,1));
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  opacity:71%;
}
.v50_0 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 32px;
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v50_1 {
  width: 43px;
  height: 22px;
  background: rgba(255,139,3,1);
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 7px;
}
.v50_2 {
  width: 41px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 63px;
  left: 9px;
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v50_3 {
  width: 43px;
  height: 22px;
  background: rgba(255,139,3,1);
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 7px;
}
.v50_4 {
  width: 66px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 162px;
  left: 0px;
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v50_5 {
  width: 43px;
  height: 22px;
  background: rgba(255,139,3,1);
  opacity: 1;
  position: absolute;
  top: 322px;
  left: 6px;
}
.v50_6 {
  width: 72px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 313px;
  left: 1px;
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v50_8 {
  width: 43px;
  height: 22px;
  background: rgba(255,139,3,1);
  opacity: 1;
  position: absolute;
  top: 407px;
  left: 3px;
}
.v50_9 {
  width: 57px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 407px;
  left: 1px;
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v50_11 {
  width: 43px;
  height: 22px;
  background: rgba(255,139,3,1);
  opacity: 1;
  position: absolute;
  top: 499px;
  left: 3px;
}
.v50_12 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 493px;
  left: 3px;
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v50_13 {
  width: 43px;
  height: 22px;
  background: rgba(255,139,3,1);
  opacity: 1;
  position: absolute;
  top: 605px;
  left: 2px;
}
.v50_14 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 603px;
  left: 0px;
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v50_15 {
  width: 90px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 60px;
  left: 64px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v50_16 {
  width: 90px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 148px;
  left: 66px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v50_17 {
  width: 90px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 316px;
  left: 64px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v50_18 {
  width: 90px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 410px;
  left: 64px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v50_19 {
  width: 90px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 498px;
  left: 64px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v50_20 {
  width: 90px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 600px;
  left: 62px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v50_21 {
  width: 36px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 92px;
  left: 8px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v50_22 {
  width: 47px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 184px;
  left: 4px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v50_23 {
  width: 52px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 356px;
  left: 4px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v50_24 {
  width: 52px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 433px;
  left: 3px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v50_25 {
  width: 49px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 523px;
  left: 3px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v50_26 {
  width: 41px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 625px;
  left: 6px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v48_1 {
  width: 142px;
  height: 141px;
  background: linear-gradient(rgba(31,64,55,1), rgba(153,242,200,1));
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 209px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v48_8 {
  width: 122px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 60px;
  left: 9px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v48_7 {
  width: 133px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 9px;
  font-family: Helvetica;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

